*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f1f5f9;
}

.wrapper{
    display:flex;
}

.sidebar{
    width:260px;
    min-height:100vh;
    background:#0f172a;
    color:white;
    position:fixed;
}

.logo{
    padding:25px;
    text-align:center;
    border-bottom:1px solid rgba(255,255,255,.1);
}

.sidebar ul{
    list-style:none;
    padding:20px 0;
}

.sidebar li{
    margin:8px 0;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:15px 25px;
    transition:.3s;
}

.sidebar a:hover{
    background:#2563eb;
}

.sidebar i{
    width:30px;
}

.content{
    margin-left:260px;
    width:100%;
}

.navbar{
    height:70px;
}

.card{
    border:none;
    border-radius:15px;
}

.stat-card{
    border-radius:15px;
    color:white;
    padding:30px;
}

.blue{
    background:#2563eb;
}

.green{
    background:#22c55e;
}

.orange{
    background:#f59e0b;
}

.red{
    background:#ef4444;
}