{% extends "base.html" %}

{% block title %}Contacts{% endblock %}

{% block content %}

<div class="card shadow">

    <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">

    <h3>All Contacts</h3>

    <div class="d-flex gap-2">

        <form method="GET" action="/contacts">

            <select
                class="form-select"
                name="sort"
                onchange="this.form.submit()">

                <option value="az"
                {% if sort_by=="az" %}selected{% endif %}>
                    Name (A-Z)
                </option>

                <option value="za"
                {% if sort_by=="za" %}selected{% endif %}>
                    Name (Z-A)
                </option>

                <option value="new"
                {% if sort_by=="new" %}selected{% endif %}>
                    Newest First
                </option>

                <option value="old"
                {% if sort_by=="old" %}selected{% endif %}>
                    Oldest First
                </option>

            </select>

        </form>

        <a href="/export" class="btn btn-success">
            <i class="fa-solid fa-file-csv"></i>
            Export
        </a>

        <a href="/add-contact" class="btn btn-light">
            <i class="fa-solid fa-user-plus"></i>
            Add Contact
        </a>

    </div>

</div>

</div>
    <div class="card-body">

        <table class="table table-bordered table-hover">

            <thead class="table-dark">

                <tr>

                    <th>ID</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th width="150">Actions</th>

                </tr>

            </thead>

            <tbody>

                {% for contact in contacts %}

                <tr>

                    <td>{{ contact.id }}</td>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.phone }}</td>
                    <td>

                        <a href="/edit-contact/{{ contact.id }}" class="btn btn-warning btn-sm">
                            <i class="fa-solid fa-pen"></i>
                        </a>

                        <a href="/delete-contact/{{ contact.id }}" class="btn btn-danger btn-sm">
                            <i class="fa-solid fa-trash"></i>
                        </a>

                    </td>

                </tr>

                {% else %}

                <tr>

                    <td colspan="6" class="text-center">

                        No contacts found.

                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}